.App {
  text-align: center;
  background-color: #222;
}
.content{
  background-color: #232934;
  height: 100%;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.content-home{
  background-color: #373f51;
  color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.item-window{
  background-color: #051423;
  border-color: #235970;
  color: #FFFFFF;
  font-family: Veranda, Geneva, sans-serif;
}
.carousel-content{
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border-radius: 20px;
  overflow: hidden;
}

.background{
  background-color: #D8DBE2;
}
.button{
  color: white;
  background-color: #3cc19e;
  border-radius: 0.5em;
  border: 2px solid #3cc19e;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 10px;
}
.button:hover{
  background-color: white;
  color: black;
}
.button:focus{
  background-color: white;
  color: black;
}
.carousel-item > img {
  max-height: 1000px;
  width: 100%;
  overflow: hidden;
}
hr {
  background-color: white;
  border: none;
  height: 1px;
}

table.dataTable {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.dataTable {
    padding: 15px;
}

tr.dataTable:nth-child(even){background-color: #495060;}
tr.dataTable {
  background-color: #373f51;
}

tr.dataTable:hover {background-color: #2e3443;}

button.dropdown-item:hover {background-color: #2e3443;}

th.dataTable {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #292e3b;
    color: white;
}
.chart {
  background-color: #222;
}

svg > g > g:last-child { pointer-events: none }

tbody.dataTable td.dataTable {
  font-size: 16px;
  color: #FFFFFF;
  border: none;
}
.google-visualization-table-tr-odd {
  background: #495060 !important;
}
thead.dataTable {
  background: #292E3B;
  border-bottom: 2px solid #444444;
}
table.google-visualization-table-table {
  background-color: #232934;
  border-radius: 0em;
  border: none;
  font-size: 16px;
  border-collapse: collapse;
  font-family: Veranda, Geneva, sans-serif;
}
div.google-visualization-table-div-page.gradient{
  background-color: #232934;
  background-image: none;
}
.google-visualization-table-table td{
  border: none !important;
}

.nav-tabs {
  border: none !important;
}
.nav-tabs .nav-link {
  background-color: #495060 !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: white !important;
  background-color: #232934 !important;
  border-color: #232934 !important;
}
table.blank{
  table-layout: fixed;
  background-color: #232934;
}
td.blank {
  width: 25% ;
}
.nav-tabs .nav-link.sellers,
.nav-tabs .nav-item.show .nav-link {
  color: white !important;
  font-weight: bold;
  background-color: #292e3b !important;
  border-color: #292e3b !important;
}
.no-suggestions {
  position: absolute;
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  z-index: 1;
  color: #999;
  background-color: #222;
  position: absolute;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #2e3443;
  color: white;
  cursor: pointer;
  font-weight: 700;
}